@mixin btn (
  $bg-color: $color-link,
  $border-radius: 3px,
  $color: #fff,
  $hf-bg-color: darken($bg-color, 25%),
  $hf-color: #fff,
  $font-size: (14rem/16),
  $size:''
) {
  background-color: $bg-color;
  border-radius: $border-radius;
  border: none;
  color: $color;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;

  @if $size == small {
    font-size: ($font-size * 0.8);
    padding: (8rem/16) (12rem/16) (7rem/16);
  }

  @else if $size == large {
    font-size: ($font-size * 1.2);
    padding: (12rem/16) (16rem/16) (11rem/16);
  }

  @else {
    font-size: $font-size;
    padding: (10rem/16) (14rem/16) (9rem/16);
  }

  &:visited {
    background-color: $bg-color;
    color: $color;
  }

  &:hover,
  &:focus {
    background: $hf-bg-color;
    color: $hf-color;
    cursor: pointer;
    outline: none;
  }

  &:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
}


@mixin btn-as-link() {
  appearance: none;
  background-color: transparent;
  border: none;
  color: $color-link;
  padding: 0;
  text-align: left;

  [dir='rtl'] & {
    text-align: right;
  }

  &:hover,
  &:focus {
    color: $color-link-hover;
    cursor: pointer;
    outline: none;
  }

  &:disabled {
    color: #999;
    cursor: not-allowed;
  }
}


@mixin btn-strip() {
  appearance: none;
  background-color: transparent;
  border: none;
  color: $color-text;
  padding: 0;
  text-align: left;

  [dir='rtl'] & {
    text-align: right;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }

  &:disabled {
    color: #999;
    cursor: not-allowed;
  }
}
