// ============================================================================
// The button mixin has numerous parameters, each with a sensible default.
// Here's are each parameter's variable name, meaning, and default value:
//
// Parameter          Meaning                        Default
// ----------------------------------------------------------------------------
// $bg-color          bg color                       value of $color-link
// $border-radius     border-radius                  5px
// $color             text color                     #fff
// $hf-bg-color       hover & focus bg color         desaturate($bg-color, 75%)
// $hf-color          hover & focus text color       white
// $font-size         font-size                      $font-size
// $size              set the button size            '' [empty/default]
// ============================================================================
// Example usage, keeping the default values:
// .log-in a {
//   @include btn;
// }
//
// Example usage, adjusting some of the default values:
// .log-in a {
//   @include btn($size:large, $bg-color:#f90, $hf-bg-color:#c90)
// }
// ============================================================================

@mixin btn (
  $bg-color: $color-link,
  $border-radius: 5px,
  $color: #fff,
  $hf-bg-color: darken($bg-color, 25%),
  $hf-color: white,
  $font-size: (14rem/16),
  $size:''
) {
  background-color: $bg-color;
  border-radius: $border-radius;
  border: none;
  color: $color;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;

  @if $size == small {
    font-size: ($font-size * 0.8);
    padding: (8em/16) (12em/16);
  }
  @else if $size == large {
    font-size: ($font-size * 1.2);
    padding: (12em/16) (16em/16);
  }
  @else {
    font-size: $font-size;
    padding: (10rem/16) (14rem/16);
  }

  &:visited {
    background-color: $bg-color;
    color: $color;
  }

  &:hover,
  &:focus {
    background: $hf-bg-color;
    color: $hf-color;
    cursor: pointer;
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
}
