// ============================================================================
// Layout option: gutters.
//
// <div data-layout="module" data-layout-options="gutters">
//   <div data-layout="module__item"> ... </div>
//   <div data-layout="module__item"> ... </div>
//   <div data-layout="module__item"> ... </div>
// </div
// ============================================================================


$gutter-size: 10px;


[data-layout-options~="gutters"] {
  margin-left:   -($gutter-size);
  margin-top:    -($gutter-size);

  > * {
    padding-left: ($gutter-size);
    padding-top:  ($gutter-size);
  }

  & + & {
    margin-top: 0;
  }

  @include mq-min-width($bp-small) {
    margin-left:   -($gutter-size * 2);
    margin-top:    -($gutter-size * 2);

    > * {
      padding-left: ($gutter-size * 2);
      padding-top:  ($gutter-size * 2);
    }
  }

  @include mq-min-width($bp-compact) {
    margin-left:   -($gutter-size * 3);
    margin-top:    -($gutter-size * 3);

    > * {
      padding-left: ($gutter-size * 3);
      padding-top:  ($gutter-size * 3);
    }
  }

  @include mq-min-width($bp-medium) {
    margin-left:   -($gutter-size * 4);
    margin-top:    -($gutter-size * 4);

    > * {
      padding-left: ($gutter-size * 4);
      padding-top:  ($gutter-size * 4);
    }
  }

  @include mq-min-width($bp-large) {
    margin-left:   -($gutter-size * 5);
    margin-top:    -($gutter-size * 5);

    > * {
      padding-left: ($gutter-size * 5);
      padding-top:  ($gutter-size * 5);
    }
  }

  @include mq-min-width($bp-huge) {
    margin-left:   -($gutter-size * 6);
    margin-top:    -($gutter-size * 6);

    > * {
      padding-left: ($gutter-size * 6);
      padding-top:  ($gutter-size * 6);
    }
  }
}


// ============================================================================
// Layout option: wrap items.
//
// <div data-layout="module" data-layout-options="wrap-items">
//   <div data-layout="module__item"> ... </div>
//   <div data-layout="module__item"> ... </div>
//   <div data-layout="module__item"> ... </div>
// </div
// ============================================================================


[data-layout-options~="wrap-items"] {
  flex-wrap: wrap;
}


// ============================================================================
// Layout option: equal-height items.
//
// <div data-layout="module" data-layout-options="equal-height-items">
//   <div data-layout="module__item"> ... </div>
//   <div data-layout="module__item"> ... </div>
//   <div data-layout="module__item"> ... </div>
// </div
// ============================================================================


[data-layout-options~="equal-height-items"] {
  > * {
    display: flex;

    > * {
      width: 100%;
    }
  }
}
