$color-input-bg: #fff;
$color-input-border: lighten($color-text, 50%);
$input-border-radius: 0;
$input-padding: 10px;
$label-margin: 0.3em;
$line-height: 1.4;
$select-arrow-size: 5px;


input, select, textarea {
  &:disabled {
    background-color: #f6f6f6 !important; // !important overrides color(s) set below.
    cursor: not-allowed;
  }
}


.form-control + *,
.control-group + * {
  margin-top: 1.5em;
}


.control-group {
  &__label {
    margin-bottom: $label-margin;
  }

  .form-control {
    line-height: $line-height;
    margin-top: 0;
  }
}


// ============================================================================
// Error and success states.
// ============================================================================


.form-control__response {
  margin-top: 0;
  padding-top: $label-margin;
  line-height: $line-height;

  .control-group.u-stack-label & {
    flex-basis: 100%;
  }
}


// .form__response {

// }


.is-error {
  &:not(.control-group) label,
  .control-group__label,
  .form-control__response,
  &.form__response {
    color: $color-error;
  }

  .u-text-input,
  .u-select-input select {
    border-color: $color-error;
  }
}


.is-success {
  &:not(.control-group) label,
  .control-group__label,
  .form-control__response,
  &.form__response  {
    color: $color-success;
  }

  .u-text-input,
  .u-select-input select {
    border-color: $color-success;
  }
}


// ============================================================================
// Utility classes available for this module.
// ============================================================================


// Stack labels.
.u-stack-label {
  &.form-control {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: $label-margin;
    }
  }

  &.control-group {
    flex-wrap: wrap;

    .control-group__label {
      flex-basis: 100%;
      margin-bottom: $label-margin;
      margin-right: 0;
    }
  }
}


// Form-controls that are inside of a control-group can be inline.
.u-inline-controls {
  display: flex;

  > *:not(:last-child) {
    margin-right: 1em;
  }

  .control-group__label {
    align-self: center;
    margin-bottom: 0;
  }

  .form-control {
    line-height: inherit;
  }

  &--stretch {
    .form-control {
      flex: auto;

      > * {
        width: 100%;
      }
    }
  }
}


// Improve/unify the appearance of text and select inputs.
.u-text-input,
.u-select-input select {
  background-color: $color-input-bg;
  border: 1px solid $color-input-border;
  border-radius: $input-border-radius;
  padding: $input-padding;
}

.u-select-input {
  display: inline-block;
  position: relative;

  select {
    appearance: none;
    display: inline-block;
    margin: 0;
    outline: 0;
    width: 100%;

    // Remove Firefox's inner focus ring:
    &:focus:-moz-focusring {color:transparent; text-shadow:0 0 0 $color-text;}

    // Hide the arrow in IE10+:
    &::-ms-expand {display:none;}
  }

  &::after {
    border-bottom: $select-arrow-size solid transparent;
    border-left: $select-arrow-size solid transparent;
    border-right: $select-arrow-size solid transparent;
    border-top: $select-arrow-size solid $color-input-border;
    content: "";
    display: inline-block;
    height: 0;
    margin-top: -($select-arrow-size / 2);
    pointer-events: none;
    position: absolute;
    right: $input-padding;
    top: 50%;
    width: 0;
  }
}
