$label-margin: 0.3em;
$line-height: 1.4;


input, select, textarea {
  &:disabled {
    cursor: not-allowed;
  }
}


.form-control + *,
.control-group + * {
  margin-top: 1.5em;
}


.control-group {
  &__label {
    margin-bottom: $label-margin;
  }

  .form-control {
    line-height: $line-height;
    margin-top: 0;
  }
}


// ============================================================================
// Error and success states.
// ============================================================================


.form-control__response {
  padding-top: $label-margin;
  line-height: $line-height;
}


// .form__response {

// }


.is-error {
  &:not(.control-group) label,
  .control-group__label,
  .form-control__response,
  &.form__response {
    color: $color-error;
  }

  .u-text-input {
    border-color: $color-error;
  }
}


.is-success {
  &:not(.control-group) label,
  .control-group__label,
  .form-control__response,
  &.form__response  {
    color: $color-success;
  }

  .u-text-input {
    border-color: $color-success;
  }
}


// ============================================================================
// Utility classes available for this module.
// ============================================================================


// Stack each form-control's label.
.u-stack-label {
  display: flex;
  flex-flow: column;

  label {
    margin-bottom: $label-margin;
  }
}


// Form-controls that are inside of a control-group are inline.
.u-inline-controls {
  display: flex;

  > *:not(:last-child) {
    margin-right: 1em;
  }

  .control-group__label {
    margin-bottom: 0;
  }

  .form-control {
    line-height: inherit;
  }
}


// Styles for inputs that have the same "text input"-type appearance.
.u-text-input {
  border: 1px solid lighten($color-text, 50%);
  padding: 10px;

  &:disabled {
    background-color: #f6f6f6;
    border-color: lighten($color-text, 75%);
  }
}
