// ============================================================================
// Borrowed from h5bp.com.
// ============================================================================


html {
  box-sizing: border-box;
  color: $color-text;
  font-family: $font-stack-sans;
}


// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after {
  box-sizing: inherit;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid darken($color-background, 25%);
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


// ============================================================================
// Project-specific global/base styles.
// ============================================================================


// Using the three selectors below, we reset some of the properties of many
// common elements to then scope and redefine them in _copy-block.scss. This
// article nicely sums up why it’s a good idea:
// http://cognition.happycog.com/article/expressive-type-for-copy-blocks
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, blockquote, pre, figure,
figcaption {font-size:inherit; line-height:1; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight:inherit;}
ul, ol {list-style-type:none;}


img, video {
  height: auto;
  max-width: 100%;
}


iframe {
  border: none;
  max-width: 100%;
}


button,
html [type="button"],
[type="reset"],
[type="submit"] {
  @include btn();

  &:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
}
