$color-input-bg:          #fff;
$color-input-border:      lighten($color-text, 50%);
$input-border-radius:     0;
$input-padding:           8px;
$label-margin-stacked:    0.3em;
$label-margin-inline:     1em;
$control-margin-stacked:  0.3em;
$control-margin-inline:   1em;
$select-arrow-size:       5px;

input, select, textarea {
  &:disabled {
    background-color: #f6f6f6 !important; // !important overrides color(s) set below.
    cursor: not-allowed;

    + :not(.form__response) {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}


.form-control {
  // Stack one input label; used on individual .form-control.
  &--stack-input-label {
    label {
      display: block;
      margin-bottom: $label-margin-stacked;
    }
  }
}


.form-control + *,
.control-group + * {
  margin-top: 1.5em;
}


.control-group {
  &__label {
    margin-bottom: $label-margin-stacked;
  }

  .form-control {
    margin-top: 0;

    &:not(:last-of-type) {
      margin-bottom: $control-margin-stacked;
    }
  }

  &__controls {

    // Make the controls stretch to fill available width.
    &--stretch-controls {
      width: 100%;

      .form-control {
        display: flex;
        flex: auto;

        > * {
          width: 100%;
        }

        label {
          flex: 0 0 auto;
          width: inherit;
        }
      }
    }

    // Stack many input labels; used on .control-group__controls.
    &--stack-input-labels {
      .form-control {
        label {
          display: block;
          margin-bottom: $label-margin-stacked;
        }

        &:not(:last-of-type) {
          margin-bottom: ($control-margin-stacked * 2);
        }
      }

      &.control-group__controls--stretch-controls {
        .form-control {
          flex-direction: column;

          label {
            margin-right: 0;
          }
        }
      }
    }
  }
}


// ============================================================================
// Utility classes available for this module.
// ============================================================================


// Improve/unify the appearance of text and select inputs.
.text-input,
.select-input select {
  appearance: none;
  background-color: $color-input-bg;
  border: 1px solid $color-input-border;
  border-radius: $input-border-radius;
  padding: $input-padding;
}

.select-input {
  display: inline-block;
  position: relative;

  select {
    display: inline-block;
    margin: 0;
    outline: 0;
    width: 100%;

    // Remove Firefox's inner focus ring:
    &:focus:-moz-focusring {color:transparent; text-shadow:0 0 0 $color-text;}

    // Hide the arrow in IE10+:
    &::-ms-expand {display:none;}
  }

  &::after {
    border-bottom: $select-arrow-size solid transparent;
    border-left: $select-arrow-size solid transparent;
    border-right: $select-arrow-size solid transparent;
    border-top: $select-arrow-size solid $color-input-border;
    content: '';
    display: inline-block;
    height: 0;
    margin-top: -($select-arrow-size / 2);
    pointer-events: none;
    position: absolute;
    right: $input-padding;
    top: 50%;
    width: 0;
  }
}


// Inline elements.
.u-inline-children {

  // When the *entire* control-group has inline children (AKA: the group label is inline as well).
  &.control-group {
    display: flex;

    .control-group__label {
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }

  // When *only* the form-controls are inline (AKA: the group label is *not* inline).
  &.control-group__controls {
    display: flex;
    flex-wrap: wrap;

    .form-control {
      margin-bottom: 0;

      // HEY MARC THIS IS PROBABLY WHERE THE QUANTITY QUERIES WILL GO!

      &:not(:last-of-type) {
        margin-right: $control-margin-inline;
      }
    }
  }

}


// Various white-space classes.
.u-padding-right {
  padding-right: $label-margin-inline;
}

.u-padding-top {
  padding-top: ($input-padding + 1px);
}


// ============================================================================
// Responses.
// ============================================================================

// todo Problems:
//  #16: needs to be on a new line, somehow

.form__response {
  display: block;
  line-height: $line-height;
  margin-top: $label-margin-stacked;

  &--inline {
    display: inline-block;
  }

  .control-group__controls.u-inline-children & {
    flex-basis: 100%;
  }
}


.is-error {
  &:not(.control-group) label,
  .control-group__label,
  .form__response,
  &.form__response {
    color: $color-error;
  }

  .text-input,
  .select-input select {
    border-color: $color-error;
  }
}


.is-success {
  &:not(.control-group) label,
  .control-group__label,
  .form__response,
  &.form__response  {
    color: $color-success;
  }

  .text-input,
  .select-input select {
    border-color: $color-success;
  }
}
