// ============================================================================
// Type.
// ============================================================================

$font-stack-sans:   sans-serif; // http://css-tricks.com/sans-serif/
$font-stack-serif:  serif;
$font-stack-mono:   monospace;
$font-size:         1rem;
$line-height:       1.4;


// ============================================================================
// Colors.
// ============================================================================

$color-background:    white;
$color-text:          black;
$color-link:          blue;
$color-link-hover:    red;
$color-link-visited:  gray;
$color-error:         crimson;
$color-success:       mediumseagreen;


// ============================================================================
// Layout.
// ============================================================================

$content-min-width: (300rem/16);
$content-max-width: (1600rem/16);

$bp-small:          (600rem/16);
$bp-compact:        (960rem/16);
$bp-medium:         (1280rem/16);
$bp-large:          (1600rem/16);
$bp-huge:           (1920rem/16);

// If you're looking for the layout's gutter variable, see the "Gutter control"
// section in _layout.scss.
