// ============================================================================
// Type.
// ============================================================================


$font-stack-sans:   sans-serif; // http://css-tricks.com/sans-serif/
$font-stack-serif:  serif;
$font-stack-mono:   monospace;
$font-size:         1rem;
$line-height:       1.4;


// ============================================================================
// Colors.
// ============================================================================


$color-background:    white;
$color-text:          black;
$color-link:          blue;
$color-link-hover:    red;
$color-link-visited:  gray;
$color-error:         crimson;
$color-success:       mediumseagreen;


// ============================================================================
// Layout.
// ============================================================================


// Min/max widths:
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$content-min-width: 300px;
$content-max-width: 1920px;


// Breakpoints:
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$bp-tiny:    480px;
$bp-small:   720px;
$bp-compact: 768px; // All breakpoints EXCEPT this one are 240px apart.
$bp-medium:  960px;
$bp-large:   1200px;
$bp-huge:    1440px;
$bp-epic:    1680px;


// Gutters:
// Where there's a single letter at the variable's beginning, that letter
// represents a breakpoint defined above. For empty-cells:
// * $t-gutter-size is used at the (t)iny breakpoint.
// * $c-gutter-size is used at the (c)compact breakpoint.
// * $h-gutter-size is used at the (h)uge breakpoint.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// The first letter refers to a breakpoint, defined above.
// t = $bp-tiny; m = $bp-medium; e = $bp-epic; etc.
$gutter-size:   6px;
$t-gutter-size: 12px;
$s-gutter-size: 18px;
$c-gutter-size: 24px;
$m-gutter-size: 30px;
$l-gutter-size: 36px;
$h-gutter-size: 42px;
$e-gutter-size: 48px;
