$cta-object-margin: 16px;

.demo .cta {
  padding: $cta-object-margin;

  @include mq-min-width($bp-compact) {
    align-items: center;
    display: flex;
  }

  &__content {
    @include mq-min-width($bp-compact) {
      flex: none;
      padding-right: $cta-object-margin;
      width: 75%;
    }
  }

  &__title {
    font-size: 200%;
    font-weight: bold;
  }

  &__body {
    line-height: $line-height;
    margin-top: 1em;

    p, ul, ol, dl, pre {
      &:not(:first-child) {
        margin-top: ($cta-object-margin / 2);
      }
    }

    p, ul, ol, li, dl, dt, dd, pre {
      line-height: inherit;
    }

    ul, ol, dd {
      padding-left: 1.5em;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    dt {
      font-weight: bold;

      &::after {
        content: ':'
      }
    }
  }

  &__action {
    margin-top: $cta-object-margin;

    @include mq-min-width($bp-compact) {
      flex: none;
      margin-top: 0;
      padding-left: $cta-object-margin;
      text-align: right;
      width: 25%;
    }
  }
}
