$feature-object-margin: 1em;

.demo .feature {
  @include mq-min-width($bp-small) {
    position: relative;
  }

  &__content {
    padding: ($feature-object-margin * 2) ($feature-object-margin * 1.5);

    @include mq-min-width($bp-small) {
      max-height: 100%;
      overflow: auto;
      position: absolute;
      top: 50%;
      width: 60%;
    }

    // Alignment.
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    &--align-left,
    &--align-right {
      @include mq-min-width($bp-small) {
        transform: translateY(-50%);
      }
    }

    &--align-left {
      @include mq-min-width($bp-small) {
        left: 0;
      }
    }

    &--align-center {
      @include mq-min-width($bp-small) {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--align-right {
      @include mq-min-width($bp-small) {
        right: 0;
      }
    }

    // Background color.
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    &--dark-bg {
      background-color: rgba(0,0,0,.75);

      .feature__title,
      .feature__body {
        color: #fff;
      }
    }

    &--light-bg {
      background-color: rgba(255,255,255,.75);

      .feature__title,
      .feature__body {
        color: #000;
      }
    }
  }

  &__title {
    font-size: 150%;
    font-weight: bold;

    @include mq-min-width($bp-small) {
      font-size: 200%;
    }
  }

  &__body {
    font-size: 125%;
    line-height: $line-height;
    margin-top: ($feature-object-margin * 0.5);

    @include mq-min-width($bp-small) {
      font-size: 150%;
    }

    p, ul, ol, dl, pre {
      &:not(:first-child) {
        margin-top: ($feature-object-margin * 0.5);
      }
    }

    p, ul, ol, li, dl, dt, dd, pre {
      line-height: inherit;
    }

    ul, ol, dd {
      padding-left: 1.5em;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    dt {
      font-weight: bold;

      &::after {
        content: ':'
      }
    }
  }
}
