$header-object-margin: 16px;

.demo .header {
  background-color: #aaa;
  min-height: 72px;
  padding: $header-object-margin;
  position: relative;

  &__id {
    text-align: center;
  }

  &__logo {
    img {
      max-height: 80px;
    }
  }

  &__title {
    @extend .visuallyhidden;
  }

  &__open-nav,
  &__close-nav {
    line-height: 1;
    position: absolute;

    // Hide if there's no JS.
    .no-js & {
      @extend .hidden;
    }
  }

  &__open-nav {
    left: $header-object-margin;
    top: $header-object-margin;
  }

  &__close-nav {
    font-size: 2.5em;
    right: 21px;
    top: 2px;
  }

  &__nav-wrap {
    background-color: #fff;

    .js & {
      height: 100%;
      left: 0;
      max-width: 400px;
      position: fixed;
      top: 0;
      transform: translateX(-100%);
      transition-property: transform;
      transition-duration: $transition-duration;
      width: 80%;
    }

    &.is-visible {
      box-shadow: $overlay-box-shadow;
      transform: none;
    }
  }

  &__nav-title {
    .no-js & {
      border-bottom: 1px solid rgba(0,0,0,0.25);
      font-size: (22rem/16);
      padding: 8px;
    }

    .js & {
      @extend .visuallyhidden;
    }
  }

  &__nav-links {
    .js & {
      bottom: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      padding: 16px 16px 40px;
      position: absolute;
      top: 40px;
      width: 100%;
    }

    > ul:not(:last-of-type) {
      margin-bottom: 40px;
    }

    li + li {
      margin-top: 16px;
    }

    li > ul {
      margin-top: 16px;
    }

    a {
      display: block;
      line-height: 1.3;
      text-decoration: none;
    }
  }

  &__nav-label {
    opacity: 0.5;
    font-size: (14rem/16);
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  ul {
    ul {
      a {
        margin-left: 24px;

        [dir='rtl'] & {
          margin-left: 0;
          margin-right: 24px;
        }
      }

      ul {
        a {
          margin-left: 48px;

          [dir='rtl'] & {
            margin-left: 0;
            margin-right: 48px;
          }
        }
      }
    }
  }

  &__user {
    position: absolute;
    right: $header-object-margin;
    top: $header-object-margin;

    &-toggle {
      img {
        border-radius: 2px;
      }

      .has-notifications & {
        position: relative;

        &::before {
          background-color: red;
          border-radius: 50%;
          bottom: calc(100% - 4px);
          content: '';
          display: block;
          height: 8px;
          left: calc(100% - 4px);
          position: absolute;
          width: 8px;
        }
      }
    }

    &-panel {
      @extend .visuallyhidden;

      &.is-visible {
        background-color: #fff;
        border: none;
        border-radius: 2px;
        box-shadow: $overlay-box-shadow;
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        padding: 16px;
        position: absolute;
        right: 0;
        top: calc(100% + 8px);
        width: max-content;

        &::before {
          background-color: #fff;
          bottom: calc(100% - 4px);
          content: '';
          display: block;
          height: 8px;
          position: absolute;
          right: 16px;
          transform: rotate(45deg);
          width: 8px;
        }
      }

    }

    &-links {
      li + li {
        margin-top: 12px;
      }
    }
  }
}
