$intro-object-margin: 16px;

.demo .intro {
  padding: $intro-object-margin;

  &__title {
    font-size: 250%;
    font-weight: bold;
    line-height: 1.2;
  }

  &__subtitle {
    font-size: 150%;
    line-height: 1.2;
    margin-top: ($intro-object-margin / 2);
  }
}


// ============================================================================
// Modifier classes available for this module.
// ============================================================================


// Make the subtitle inline with the title, after a defined breakpoint.
.demo .intro--inline {
  @include mq-min-width($bp-compact) {
    display: flex;
  }

  > * {
    @include mq-min-width($bp-compact) {
      flex: 1;
    }
  }

  .intro__title {
    @include mq-min-width($bp-compact) {
      padding-right: $intro-object-margin;
    }
  }

  .intro__subtitle {
    @include mq-min-width($bp-compact) {
      padding-left: $intro-object-margin;
      text-align: right;
    }
  }
}


// Invert the background and text colors.
.demo .intro--inverted {
  background-color: black;
  color: #fff;
}
